
<div class="container-fluid bg-3 text-center">    
        <div class="row">
            <h1 href="http://localhost:3005/login"> ESTAS EN HOME</h1>
            <button href="http://localhost:3005/login"> Log Out </button>
        </div>
    </div>