
<div class="container-fluid bg-3 text-center">    
    <div class="row">
        <h1 > <%= result %> </h1>
        <button > <a href="http://localhost:3005/login"> Log In </a> </button>
    </div>
</div>