
<div class="container-fluid bg-3 text-center">    
        <div class="row">    
            <form name="form1" method="POST" action="/publish/done">
                <table>
                    <tr>
                    <td>Product Name</td>
                    <td><input type="text" name="productName" ></td>
                    </tr>
                    <tr>
                    <td>Price</td>
                    <td><input type="number" name="price" ></td>
                    </tr>
                    <tr>
                    <td>Initial Stock</td>
                    <td><input type="number" name="initialStock" ></td>
                    </tr>
                    <tr>
                    <td>Description</td>
                    <td><input type="text" name="description" ></td>
                    </tr>
                    <tr>
                    <td>Número de cuotas</td>
                    <td><input type="text" name="dues" ></td>
                    </tr>
                    <tr>
                    <td colspan="2"><input type="submit" value="Publish" ></td>
                    </tr>
                </table>
            </form> 
        </div>
    </div>